body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Noto Serif Japanese', serif;
}

body a {
    text-decoration: none;
    color: inherit;
}

#container {
    margin: 0 auto;
}

header {
    padding: 50px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

main {
    margin: 0;
}

main article {
    width: 65%;
    margin: 0 auto;
    padding-top: 25px;
}

main article h2 {
    margin: 0;
}

main article p {
    margin-top: 25px;
    margin-bottom: 25px;
}

main article div {
    margin-bottom: 50px;
    text-align: center;
}

main article img {
    width: 100%;
}

main article div p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#past_article {
    width: 65%;
    margin: 0 auto;
}

#past_article p {
    margin-top: 25px;
    margin-bottom: 25px;
}

#past_article ul {
    padding: 0;
    list-style: none;
}

#past_article ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding: 25px;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 896px) {
    header {
        padding: 20px;
    }

    header p {
        font-size: 0.8em;
    }

    main {
        padding: 20px;
    }

    main article {
        width: 100%;
    }

    main article div p {
        font-size: 0.8em;
    }

    #past_article {
        width: 100%;
    }
}